* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

header {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 808px;
}

.banner {
    text-align: right;
    padding: 250px 150px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    padding-left: 300px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 450px;
}

.btn-primary {
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
}

/* previous-year-styles */

.previous-year {
    display: flex;
    align-items: center;
    justify-content: right;
}

.previous-year-container {
    padding: 0 100px;
    padding-top: 150px;
}

.previous-year img {
    padding-top: 70px;
}

.section-title {
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.list-item {
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* web-development- */
.web-development {
    display: flex;
    align-items: center;
    margin: 200px 50px;
}

.web-div {
    padding: 0 100px;
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 130px;
}
.web-development img{
    height: 505px;
    width: 550px;
    border-radius: 8px;
}
/* plan-styles */

.plan-section {
    text-align: center;
}

.plan-container {
    display: flex;
    justify-content: center;
    gap: 86px;
    text-align: center;
}
.plan-item img {
   margin-left: 40px;
}
#plan-image{
    margin-left: 80px;
}
.plan-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    margin: 16px 0;
}

.plan-description {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
}
.gradient-container{
}
.gradient-container {
    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    margin: 144px 60px 115px 60px;
    height: 300px;
    background-repeat: no-repeat;
    text-align: left;
    border-radius: 8px;
}
.gradient-container .section-title{
    padding: 56px 618px 24px 0px;
}
.gradient-container, button{
    padding-left: 63px;
}
.footer-tag-container {
    display: flex;
    gap: 331px;
    padding: 130px 130px;
    background: #151414;
}

.connect-title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
}

.connect-description {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
    margin-bottom: 24px;
}

a, img {
    text-decoration: none;
    display: flex;
    gap: 17px;
}

.update-title {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}

.update input {
    color: #F3F3F3;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    padding: 21px 158px 22px 21px;
    background: #151414;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    margin-top: 31px;
    margin-bottom: 16px;
}

.btn-secondary {
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px 36px;
    border: none;
}