* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

header {
    background-image: url(../images/banner/banner1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 808px;
    /* height: 100vh; */
}

.banner {
    /* display: flex;
    justify-content: right;
    align-items: center; */
    text-align: right;
    padding: 250px 150px;
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #151414;
    padding-left: 300px;
}

.banner-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 32px;
    padding-left: 450px;
}

.btn-primary {
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background: #F15B22;
    border-radius: 5px;
    border: none;
    padding: 20px 25px;
}

/* previous-year-styles */

.previous-year {
    display: flex;
    align-items: center;
    /* text-align: left; */
    justify-content: right;
}
.previous-year-container{
    padding: 0 100px;
    padding-top: 150px;   
}
.previous-year img{
    padding-top: 70px;
}

.section-title {
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.section-description {
    /* height: 104px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-top: 24px;
    margin-bottom: 16px;
}

.list-item {
    height: 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

/* web-development- */
.web-development{
    display: flex;
    align-items: center;
}
.web-div{
    padding: 0 100px;
    padding-top: 150px;
    padding-left: 100px;
}

/* plan-styles */

.plan-section{
    text-align: center;
}
.plan-container{
    display: flex;
}